


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
</head>
<body>
    <div>
        <form action="/Test/Register" method="post" enctype="multipart/form-data">
            姓名:<input type="text" name="name" value="" />
            年龄:<input type="text" name="age" value="" />
            <input type="submit" value="提交" />
            <input type="file" name="httpPostedFileBase" />
        </form>
    </div>
</body>
</html>
