<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>dalong-@ViewBag.Title</title>
</head>
<body>
    <div>
        default layout
        <br />
        @RenderBody()
    </div>
</body>
</html>
