USE [master]
GO
/****** Object:  Database [TestEF]    Script Date: 9/30/2018 4:54:22 PM ******/
CREATE DATABASE [TestEF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestEF', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TestEF.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TestEF_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TestEF_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestEF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestEF]
GO
USE [TestEF]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 9/30/2018 4:54:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Classes]    Script Date: 9/30/2018 4:54:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Classes](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_T_Classes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Dogs]    Script Date: 9/30/2018 4:54:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Dogs](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_T_Dogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Persons]    Script Date: 9/30/2018 4:54:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Persons](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[CreateDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_T_Persons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Students]    Script Date: 9/30/2018 4:54:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Students](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[ClassId] [bigint] NOT NULL,
	[SmallClassId] [bigint] NULL,
 CONSTRAINT [PK_T_Students] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Students2]    Script Date: 9/30/2018 4:54:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Students2](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.T_Students2] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Teachers2]    Script Date: 9/30/2018 4:54:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Teachers2](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.T_Teachers2] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_TeacherStudentRelations]    Script Date: 9/30/2018 4:54:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_TeacherStudentRelations](
	[TeacherId] [bigint] NOT NULL,
	[StudentId] [bigint] NOT NULL,
 CONSTRAINT [PK_dbo.T_TeacherStudentRelations] PRIMARY KEY CLUSTERED 
(
	[TeacherId] ASC,
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[T_Classes] ON 

INSERT [dbo].[T_Classes] ([Id], [Name]) VALUES (2, N'class3grade5')
INSERT [dbo].[T_Classes] ([Id], [Name]) VALUES (5, N'class2grade3')
INSERT [dbo].[T_Classes] ([Id], [Name]) VALUES (6, N'superStudent')
SET IDENTITY_INSERT [dbo].[T_Classes] OFF
SET IDENTITY_INSERT [dbo].[T_Dogs] ON 

INSERT [dbo].[T_Dogs] ([Id], [Name]) VALUES (1, N'aGan')
INSERT [dbo].[T_Dogs] ([Id], [Name]) VALUES (2, N'aGan0even')
INSERT [dbo].[T_Dogs] ([Id], [Name]) VALUES (3, N'aGan1')
SET IDENTITY_INSERT [dbo].[T_Dogs] OFF
SET IDENTITY_INSERT [dbo].[T_Persons] ON 

INSERT [dbo].[T_Persons] ([Id], [Name], [CreateDateTime]) VALUES (1, N'rupeng', CAST(N'2018-06-04T21:23:06.580' AS DateTime))
INSERT [dbo].[T_Persons] ([Id], [Name], [CreateDateTime]) VALUES (2, N'rupeng', CAST(N'2018-06-04T22:18:55.327' AS DateTime))
SET IDENTITY_INSERT [dbo].[T_Persons] OFF
SET IDENTITY_INSERT [dbo].[T_Students] ON 

INSERT [dbo].[T_Students] ([Id], [Name], [ClassId], [SmallClassId]) VALUES (3, N'pipixia', 2, NULL)
INSERT [dbo].[T_Students] ([Id], [Name], [ClassId], [SmallClassId]) VALUES (4, N'chaojimali', 2, NULL)
INSERT [dbo].[T_Students] ([Id], [Name], [ClassId], [SmallClassId]) VALUES (5, N'papi', 5, 6)
SET IDENTITY_INSERT [dbo].[T_Students] OFF
SET IDENTITY_INSERT [dbo].[T_Students2] ON 

INSERT [dbo].[T_Students2] ([Id], [Name]) VALUES (1, N'tom')
INSERT [dbo].[T_Students2] ([Id], [Name]) VALUES (2, N'jerry')
INSERT [dbo].[T_Students2] ([Id], [Name]) VALUES (3, N'rabbit')
SET IDENTITY_INSERT [dbo].[T_Students2] OFF
SET IDENTITY_INSERT [dbo].[T_Teachers2] ON 

INSERT [dbo].[T_Teachers2] ([Id], [Name]) VALUES (1, N'teachZhang')
INSERT [dbo].[T_Teachers2] ([Id], [Name]) VALUES (2, N'teacherWang')
SET IDENTITY_INSERT [dbo].[T_Teachers2] OFF
INSERT [dbo].[T_TeacherStudentRelations] ([TeacherId], [StudentId]) VALUES (1, 1)
INSERT [dbo].[T_TeacherStudentRelations] ([TeacherId], [StudentId]) VALUES (1, 2)
INSERT [dbo].[T_TeacherStudentRelations] ([TeacherId], [StudentId]) VALUES (2, 2)
/****** Object:  Index [IX_StudentId]    Script Date: 9/30/2018 4:54:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_StudentId] ON [dbo].[T_TeacherStudentRelations]
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TeacherId]    Script Date: 9/30/2018 4:54:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_TeacherId] ON [dbo].[T_TeacherStudentRelations]
(
	[TeacherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[T_Students]  WITH CHECK ADD  CONSTRAINT [FK_T_Classes_T_Students] FOREIGN KEY([ClassId])
REFERENCES [dbo].[T_Classes] ([Id])
GO
ALTER TABLE [dbo].[T_Students] CHECK CONSTRAINT [FK_T_Classes_T_Students]
GO
ALTER TABLE [dbo].[T_Students]  WITH CHECK ADD  CONSTRAINT [FK_T_Students_T_Classes] FOREIGN KEY([SmallClassId])
REFERENCES [dbo].[T_Classes] ([Id])
GO
ALTER TABLE [dbo].[T_Students] CHECK CONSTRAINT [FK_T_Students_T_Classes]
GO
ALTER TABLE [dbo].[T_TeacherStudentRelations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.T_TeacherStudentRelations_dbo.T_Students2_StudentId] FOREIGN KEY([StudentId])
REFERENCES [dbo].[T_Students2] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[T_TeacherStudentRelations] CHECK CONSTRAINT [FK_dbo.T_TeacherStudentRelations_dbo.T_Students2_StudentId]
GO
ALTER TABLE [dbo].[T_TeacherStudentRelations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.T_TeacherStudentRelations_dbo.T_Teachers2_TeacherId] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[T_Teachers2] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[T_TeacherStudentRelations] CHECK CONSTRAINT [FK_dbo.T_TeacherStudentRelations_dbo.T_Teachers2_TeacherId]
GO
USE [master]
GO
