
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>

        hi, @Model <br />
        <a href="/main/logout">退出</a> <br />
        <a href="/main/zhuanzhang">转账</a> <br />
    </div>
</body>
</html>
