
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <div> 
        <form action="/Login/Login" method="post">
            username: <input type="text" name="username" />
            password: <input type="text" name="password" />
                      <input type="submit"   value="提交" />
        </form>
    </div>
</body>
</html>
